* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  background-color: white;
  font-family: 'Open Sans' 'Helvetica Neue';
}
:root {
  --bg-section: rgba(26,188,156,255);
  --bg-footer-top: rgba(58,84,109,255);
  --bg-footer-bottom: rgba(44,62,80,255);
}
.bg-section {
  background-color: var(--bg-section);
}
.bg-footer-top {
  background-color: var(--bg-footer-top);
}
.bg-footer-bottom {
  background-color: var(--bg-footer-bottom);
}

#hero img {
  max-width: 300px;
  display: block;
  text-align: center;
}

img {
  width: 100%;
}
#hero h5 {
  font-size: 0.7rem;
}


.my-star:after, .my-star:before {
  content: '';
  display: block;
  width: 15%;
  height: 3px;
  margin: 0 10px;
  background-color: white;
}
.my-star-black:after, .my-star-black:before {
  content: '';
  display: block;
  width: 15%;
  height: 3px;
  margin: 0 10px;
  background-color: black;
}

.my-image-container {
  overflow: hidden;
  border-radius: 10px;
  position: relative;
  cursor: pointer;
}
.my-image-container:hover:after {
  content: "+";
  display: flex;
  align-items: center;
  justify-content: center;
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  background-color: #20c9967b;
  color: white;
  font-size: 6em;
  font-weight: bold;

}
@media screen and (min-width: 1200px) {
.container {
  padding: 20px;
}
.container .navbar-brand {
  font-size: 1.7rem;
}

#hero h5 {
  font-size: 1.3em;
}
#about {
  padding: 50px;
}
#about p {
  font-size: 1.1rem;
  line-height: 1.7em;
  font-weight: 600;
}

}